<nav class="sidebar">
    <div class="brand">智慧应急管理系统</div>
    <ul class="menu">
        <li class="menu-section">总览</li>
        <li class="menu-item active">员工管理</li>
        <li class="menu-item">组织架构</li>
        <li class="menu-item">考勤报表</li>
        <li class="menu-item">审批中心</li>
        <li class="menu-item">制度文件</li>
        <li class="menu-section">安全</li>
        <li class="menu-item">权限管理</li>
        <li class="menu-item">角色管理</li>
        <li class="menu-item">设备管理</li>
        <li class="menu-section">娱乐</li>
        <li class="menu-item">
            <a class="menu-link" href="/snake">霓虹贪吃蛇</a>
        </li>
    </ul>
</nav>
